

.jira {
  display: flex;
  justify-content: space-around;
  margin-left: 6px;
}

body {
  font-family: sans-serif;
  background: linear-gradient(to bottom, #ff7757, #fefb4b);
}

h1 {
  text-align: center;
  border: 2px solid rgb(252, 250, 250);
  padding: 6px;
}

h3 {
  border-bottom: solid grey;
  padding-bottom: 6px;
}

button {
  background-color: red;
  color: whitesmoke;
  border: none;
  border-radius: 6px;
  padding: 12px 24px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.4s ease;
}

button:hover {
  background-color: #ec1a4f;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

button:active {
  background-color: #bb1aec;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
}

.taskCard {
  background-color: bisque;
  color: tomato;
  border: 2px solid greenyellow;
  margin: 6px;
  padding: 6px;
}

.column {
  width: 30%;
  border: 2px solid grey;
  margin-right: 6px;
  min-height: 400px;
  text-align: center;
}

